# ignore object files:
*.o
*.mo

# binaries
alps_main
frog_eval
run-sim-main
parenparser
run-simulation-mlink

# temp files
run-simulation-mlinktm.c
frogq.al
parenparser.hi
tmp/*

# includes
include/*

# results
res*
